@charset "UTF-8"; /* CSS Document */

* { /* Reset all elements */
    margin: 0;
    padding: 0;

}

html, body { 
    min-height: 100vh; /* Set minimum height to 100% of the viewport */
    background-color: darkgray; /* Set background color to dark gray */;

}

header { /* Header styles */
    background-color: black; /* Set background color to black */
    color: white; /* Set text color to white */
    text-align: center; /* Center align text */

}

header > h1 { /* Header title styles */
   padding-top: 50px; /* Add top padding */
   font-variant: small-caps; /* Use small caps font variant */

}

header > p { /* Header paragraph styles */
    padding-bottom: 50px; /* Add bottom padding */
   
}

header a { /* Link styles */
    text-decoration: none; /* Remove underline from links */
    color: white; /* Set link color to white */
    font-weight: bolder; /* Make links bold */
}

a:hover { /* Link hover styles */
   text-decoration: underline; /* Underline links on hover */
}

section { /* Section styles */
    padding-top: 10vh; /* Add top and bottom padding */
    padding-bottom: 10vh; /* Add top and bottom padding */
    line-height: 2em; /* Set line height to 2em */
    padding-left: 30px; /* Add left padding */
}

section.normal { /* Normal section styles */
    background-color: white; /* Set background color to white */
    color: black; /* Set text color to black */
   
}

section.imagem { /* Image section styles */
    background-color: rgb(184, 27, 27); /* Set background color to light gray */
    color: rgb(231, 216, 216); /* Set text color to black */
    
}

section.imagem > p { /* Image section paragraph styles */
   background-color: rgb(8, 5, 5); /* Set background color to black */;
   width: 400px; /* Set width to 400px */
}


footer { /* Footer styles */
    background-color: black; /* Set background color to black */
    color: white; /* Set text color to white */
    text-align: center; /* Center align text */
    padding: 10px 0; /* Add top and bottom padding */
    
}