@charset "UTF-8";

body {
    background-color: rgb(168, 214, 167);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
color: rgb(111, 145, 109);
}

h1#principal {
    text-align: center;
    background-color: rgbrgb(108, 244, 104);
    color: white;

}

h2 {
    color:rgb(95, 178, 84);
}

.basico {
    color: rgb(124, 37, 24);
    
}

.intermediario {
    color: blueviolet;
}

.avancado {
    color: cadetblue;
}